body {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    background-color: #f4f4f4;
}

#board {
    background-image: url("./assets/images/flappybirdbg.png");
    background-size: cover;
    border: 2px solid black;
}
